<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35290398166-ejpaomb900s0g0urknqppt94v3fjfqkc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35290398166-ejpaomb900s0g0urknqppt94v3fjfqkc</string>
	<key>API_KEY</key>
	<string>AIzaSyDWqNMLjxuzaCn3AYv8vHYyElidMGPXTVs</string>
	<key>GCM_SENDER_ID</key>
	<string>35290398166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tamnm1996.MedicalSupport</string>
	<key>PROJECT_ID</key>
	<string>medicalhelper-c675c</string>
	<key>STORAGE_BUCKET</key>
	<string>medicalhelper-c675c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35290398166:ios:9d58ec88b67363ae1df877</string>
</dict>
</plist>